body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #0f0f0f;
}

::-webkit-scrollbar {
    display: none;
}

/*Content*/

.common {
    text-align: center;
}

.typewriter {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .1em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* The typing effect */

@keyframes typing {
    from {
        width: 0%
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: transparent;
    }
}

.intro::after {
    content: "Hello I'm";
}

.intro {
    font-family: 'Montserrat', sans-serif;
    background: -webkit-linear-gradient(to right, #ff0062 0%, #FFE70A 100%);
    background: -moz-linear-gradient(to right, #ff0062 0%, #FFE70A 100%);
    background: linear-gradient(to right, #ff0062 0%, #FFE70A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    margin-top: 0%;
    padding-top: 15%;
}

@media(min-width:768px) {
    .intro {
        font-size: 4rem;
    }
}

@media(min-width:992px) {
    .intro {
        font-size: 4rem;
    }
}

@media(min-width:1200px) {
    .intro {
        font-size: 4rem;
    }
}

@media(max-width:576px) {
    .intro {
        font-size: 2.5rem;
    }
}

.name::after {
    content: "Harshit Tewatia";
}

.name {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 3rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}

@media(min-width:768px) {
    .name {
        font-size: 4rem;
    }
}

@media(min-width:992px) {
    .name {
        font-size: 4rem;
    }
}

@media(min-width:1200px) {
    .name {
        font-size: 4rem;
    }
}

@media(max-width:576px) {
    .name {
        font-size: 2.5rem;
    }
}

.about::after {
    content: "21 years old, who always loves to do creative work like UX/UI Designing & make Lightroom Presets. I also have my own Lightroom Presets app on PlayStore called 'ShutterHub'. Apart from this I do Photography & have a YouTube channel as well.";
}

.about {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    padding-top: 10%;
    margin-top: 0%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    color: white;
}

/*Image*/

.col-lg-6 {
    padding: 0%;
    margin: 0%;
}

img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

@media(min-width:768px) {
    img {
        height: 80vh;
        width: 100%;
    }
}

@media(min-width:992px) {
    img {
        height: 100vh;
        width: 100%;
    }
}

@media(min-width:1200px) {
    img {
        height: 100vh;
        width: 100%;
    }
}

@media(max-width:576px) {
    img {
        height: 50vh;
        width: 100%;
    }
}

img:hover {
    opacity: 0.9;
}

/*Icon*/

.icon-color {
    color: white;
    padding-left: 2%;
    padding-right: 2%;
}

.icon-color:hover {
    color: gray;
}

.soical {
    margin-bottom: 10%;
}
